bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
*.suo
*.user
*.userprefs
*.sln.docstates
*.vspscc
*.vssscc
*.resharper
_ReSharper*/
*.resharper.user
*.resharper.sln
*.resharper.sln.dotSettings
*.resharper.sln.user
.env
.vscode
.vs

*.db
*.db-shm
*.db-wal
*.log
*.log.*
*.log-*
start.sh
global.json
Data/Migrations/*
